.user_p{
    padding: 8px 0px 5px 15px;
    /* background-color: aquamarine; */
    font-size: 12px;
    box-shadow: 1px 2px 2px #888888;
    margin: 0px;
    background-color: white;
}
.maindiv{
    padding: 15px 15px 0px 15px;
    background-color: #d5d5d5;
    height: auto;
    /* margin-bottom: 15px; */
}
.nested_div{
    height: auto;
    /* box-shadow: 2px 2px 2px 2px rebeccapurple; */
    background-color: white;
    /* padding-bottom: 40px; */
}
.diveer{
    background-color: white;
    height: auto;
    padding: 0px 15px;
}
.btn1{
    background-color: lightblue;
    padding: 7px 32px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: white;
}


.userTab{
    margin: 0px 20px;
}


.text{
    border-bottom: 3px solid greenyellow; 
    padding: 10px 25px;
    font-size: 18px;
    margin-bottom: 20px;
}
.user_filter{
    /* border: 1px solid darkgray;
    border-radius:3px; 
    background-color: white; */
}

/* .card{
    border: 1px solid darkgrey;
    border-radius: 3px;
    width: 100%;
    height:100px;
} */
.usertext{
  color: blue;
  float: right;
  font-size: 14px;
  padding-right: 160px;
}

/* .div1{
float: left;
}

.div2{
    height:100% ;
    padding: 25px 10px 10px 0px;
    float: right;
    
} */

/* .dash_img{
    height: 100%;
    width: 100px;
}
.div11{
padding: 10px;
}

.div12{
padding: 10px;
font-size: 20px;

} */


.tab1img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.tab2img{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}


/* ***************************** */






/* ************************Paginator****************** */

