<p class="user_p">
  Dashboard/ Payment
</p>
<div class="maindiv">
  <div class="nested_div">
    <div class="text">
      <b>Business Payment</b>
    </div>
    <!-- *******Search Div******* -->
    <div class="diveer">
      <div class="user_filter">
        <div class="dropdown">
          <button style="border-radius:0px; border: 1px solid transparent;
                      background-color: darkgrey;"
            class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select
            Search
            <span class="caret" style="margin-left:15px"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
          <span> <input type="text" style="border:1px solid transparent;width: 64%" /></span>
        </div>
      </div>
      <!-- ****Search div end**** -->
      <button class="btn1" style="float:right">Search</button>
    </div>
    <button type="button" class="btn btn-link" style="float:right; margin-right: 160px;">Clear filter</button>
    <!-- <h6 class="usertext">Clear Filter</h6> -->

    <div class="userTab">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Username</th>
            <th>Contacts</th>
            <th>Location</th>
            <th>Date of joining</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let j of paytabData; index as jindex" (click)="openDetail()">
            <td>{{j.id}}, {{jindex}}</td>
            <td>{{j.email}}</td>
            <td>New York</td>
            <td>New York</td>
            <td>24 Jan 19</td>
            <td (click)="$event.stopPropagation();openModal()" style="cursor:progress">
              <button style="cursor:progress" class="pay_btn" (click)="$event.stopPropagation();openModal()">Pay</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="justify-content: center; display: flex; padding-top:20px; padding-bottom: 40px ">
      <ngb-pagination size="lg" [collectionSize]="70" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>

</div>


<div class="backdrop" [ngStyle]="{'display':display}">


  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">


    <div class="modal-dialog" role="document" style="padding:90px">

      <div class="modal-content" style="width:500px;">
        <div class="modal-body">
          <input type="text" placeholder="Amount" class="pay_inp">
          <input type="text" placeholder="Transaction Id" class="pay_inp">
          <input type="text" placeholder="Date" class="pay_inp">
          <input type="text" placeholder="Description" class="pay_inp1">
        </div>
        <div class="modal-footer">
          <button type="button" class="pay_btn" (click)="onCloseHandled()">Pay</button>
        </div>
      </div>



    </div><!-- /.modal-dialog -->


  </div><!-- /.modal !-->
</div>