<div class="sidebar">
  <img src="assets/img/game.jpeg" class="img2">
  <a routerLinkActive='active' routerLink='dashboard'><span>
      <img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Dashboard</a>
  <a routerLink='sports' routerLinkActive='active'>
    <span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Sports</a>
  <a routerLink='users' routerLinkActive='active'><span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Users</a>
  <a routerLink='sessions' routerLinkActive='active'><span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Sessions</a>
  <a routerLink='business' routerLinkActive='active' ><span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Business A/c</a>
  <a routerLink='payment' routerLinkActive='active'><span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Payment</a>
  <a routerLink='gamification' routerLinkActive='active'><span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Gamification</a>
  <a routerLink='cms' routerLinkActive='active'><span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>CMS</a>
  <a routerLink='notification' routerLinkActive='active'><span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Notification</a>
  <a routerLink='settings' routerLinkActive='active'><span><img src="assets/img/game.jpeg" alt="src" class="side_img"></span>Settings</a>
</div>