<p class="dash_p">
    Dashboard
</p>
<div class="maindiv">
    <div class="nested_div">

        <!-- ******Card div***** -->

        <!-- <div class="row" style="padding:10px 10px 10px 10px;">
            <div class="col-lg-3" *ngFor="let i of imageData" style="margin-bottom: 5px;">
                <div class="card">
                    <div class="div1">
                        <div class="div11">
                            {{i.name}}
                        </div>
                        <div class="div12">
                            {{i.lineBarValue}}<span style="margin-left:10px;"><img src={{i.logon}}></span>
                        </div>
                    </div>
                    <div class="div2">
                        <img src={{i.url}} class="dash_img">
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row" style="padding:10px 10px 10px 10px;">
            <div class="col-lg-3" style="margin-bottom: 5px;">
                <div class="card">
                    <div class="div1">
                        <div class="div11">
                            New User
                        </div>
                        <div class="div12">
                            {{current_user}}<span style="margin-left:10px;"><img src="assets/img/cross.png"></span>
                        </div>
                    </div>
                    <div class="div2">
                        <img src="assets/img/notification.jpg" class="dash_img">
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="margin-bottom: 5px;">
                <div class="card">
                    <div class="div1">
                        <div class="div11">
                            Total Users
                        </div>
                        <div class="div12">
                            {{total_user}}<span style="margin-left:10px;"><img src="assets/img/cross.png"></span>
                        </div>
                    </div>
                    <div class="div2">
                        <img src="assets/img/notification.jpg" class="dash_img">
                    </div>
                </div>
            </div>
        </div>
        <!-- ******Card div end****** -->


        <div class="row">
            <div class="col-lg-8">
                <!-- ******Table Div****** -->

                <div class="tab_div">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Recent User</a></li>
                        <li><a data-toggle="tab" href="#menu1">Recent Sessions</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <!-- <div class="table-responsive"> -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Profile</th>
                                        <th>Username</th>
                                        <th>Contacts</th>
                                        <th>Location</th>
                                        <th>Date of joining</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let j of recentUserData" (click)="openDetail()">
                                        <td><img src="http://192.168.1.28:8001/media/{{j.profilepic}}/" class="tab1img"></td>

                                        <td>{{j.username}}</td>
                                        <td>{{j.email}}</td>
                                        <td>{{j.location}}</td>
                                        <td>{{j.joiningdate}}</td>

                                    </tr>
                                </tbody>
                            </table>
                            <!-- </div> -->
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Host</th>
                                            <th>Sport</th>
                                            <th>sport Category</th>
                                            <th>Location</th>
                                            <th>Session Category</th>
                                            <th>Session Type</th>
                                            <th>Created</th>
                                            <th>Session Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let j of recentSessiondata">
                                            <td><img src="http://192.168.1.28:8001/media/{{j.profilepic}}/" class="tab2img"></td>
                                            <td>{{j.host}}</td>
                                            <td>{{j.sport}}</td>
                                           
                                            <td>{{j.sportcategory}}</td>
                                            <td>{{j.location}}</td>
                                            <td>{{j.sessioncategory}}</td>
                                            <td>{{j.sessiontype}}</td>
                                            <td>{{j.created}}</td>
                                            <td> {{j.sessiondate}}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ******Table Div end****** -->
            </div>

            <div class="col-lg-4" style="padding-top: 50px;padding-right: 30px;">

                <!-- <div class="chartHeader">
                    <fusioncharts width="100%" height="500" type="pie2d" [dataSource]="dataSource">
                    </fusioncharts>
                </div> -->
                <div id="chartContainer" style="height: 370px; width:100%; margin-left:auto;margin-right:auto;"></div>


            </div>
        </div>
    </div>
</div>