<p style="">Select category <span style="font-size: 10px">(200*200 in ptx)</span></p>
              <div class="sports_filter">
                <input type="text" style="height:35px;display: flex;width: 100%; border: none;" />
                <span>
                  <div class="dropdown">
                    <button style="border-radius:0px; border: 1px solid transparent;height: 35px;
                      background-color: darkgrey;"
                      class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#">HTML</a></li>
                      <li><a href="#">CSS</a></li>
                      <li><a href="#">JavaScript</a></li>
                    </ul>
                  </div>
                </span>
              </div>